#root-container {
  background-color: none;
  margin: 0 auto;
  width: 100%;
}

#content-container {
  color: white;
  text-align: center;
}

.root-navigation, link, visited, hover, active {
  background-color: #000000;
  color: white;
  text-decoration: none;
}

body {
  background-color: #000000;
  background-image: url("../images/animals_background_large.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  margin: 0;
}

#footer-container {
  color: white;
  text-align: center;
  padding: 20px;
}

#error-container {
  background-color: #000000;
  text-align: center;
}